.title-pokemon {
  color: #120a5f;
  font-weight: 600;
  font-size: 2.1em;
}

.card-pokemon {
    background: rgb(121,120,9);
    background: radial-gradient(circle, rgba(121,120,9,0.4) 0%, rgba(0,48,255,0.4) 100%);
    border: #120a5f solid 0.14em;
}
.card-pokemon:hover {
    background: rgb(0,48,255);
    background: radial-gradient(circle, rgba(0,48,255,0.4) 0%, rgba(121,120,9,0.4) 100%);
}

.img-pokemon{
    max-width: 250px;
    max-height: 200px;
    min-width: 150px;
    min-height: 200px;
}
.img-container{
    text-align: center;
}
.stat-pokemon-bar{
    padding: 0.5em;
    border-radius: 0.4em;
    
}